#--------------------------------------------------------------------------------
# TEMPLATE FOR THE world_state.toml - {{project_name}}
#
# The world_state.toml describes the state vector of the system. It has one
# dictonary: variables. They key-value pairs in this dictonary describe one
# variable in the state. 
#   - key: the name of the variable:
#   - value: a dicontary with two key value pairs, the initial value and the 
#     units. By way of example, a proper entry looks like: 
#     system_temp = {initial = 25, units = "C"}
#--------------------------------------------------------------------------------
[variables]
variable_1  = {initial = 0.0, units = "units"}
variable_2  = {initial = 0.0, units = "units"}
variable_3  = {initial = 0.0, units = "units"}
